Django>=6.1,<6.2
celery>=5.4,<6
dj-database-url>=3.1,<4
django-cors-headers>=4.4,<5
django-filter>=24.2,<25
djangorestframework>=3.15,<4
drf-spectacular>=0.30,<0.31
openpyxl>=3.1,<4
python-dotenv>=1.0,<2
redis>=5.0,<6
reportlab>=4.2,<5
requests>=2.32,<3
mysqlclient>=2.2,<3
